@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Orbitron', sans-serif;

  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
*::-webkit-scrollbar-track {
    background-color: var(--support-color-1); 
    border-radius: 4px;
   
}
*::-webkit-scrollbar-thumb {
  background-color: #7f1d1d;
    border-radius: 5px;

}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-2); 
}
